.grid-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .left-section {
    width: calc(28.33% - 1rem);
    margin-left:  0px;
  }
  
  .posts-section {
    max-width: calc(43.33% - 1rem);
    margin-bottom: 1rem;
  }
  
  .right-section {
    width: calc(28.33% - 1rem);
    margin-right: 0px;
  }
  